#featured-products {
  & > .content-container { @include set-grid( 2.8rem 3.2rem, $grid: map-get( $grid, top ) ); position: relative;
    @media ( max-width: o-px-to-abs-em( 1219px ) ) { padding-bottom: 0 }
    @media ( max-width: o-px-to-abs-em( 449px ) ) { padding: { left: .7rem; right: .7rem } }
    @include title-2( 1.9rem ) { margin-left: map-get( $mar, l-default );
      @media ( max-width: o-px-to-abs-em( 449px ) ) { margin: { left: 0; bottom: 3.2rem } } };
    & > .content-body { @include set-grid( 0, 0, map-get( $grid, inner ) ); overflow: hidden;
      @include arrows-set-1 { filter: brightness( 0 ); margin-top: 2.4rem;
        @media ( max-width: o-px-to-abs-em( 1299px ) ) { width: 98% }
        @media ( max-width: o-px-to-abs-em( 1219px ) ) { display: none } }
      & .products-list { @include row-flex; position: relative;
        & li { color: nth( $c-0, 1 ); flex: 0 0 27%;
          @media ( max-width: o-px-to-abs-em( 1179px ) ) { flex-basis: 35% }
          @media ( max-width: o-px-to-abs-em( 649px ) ) { flex-basis: 50% }
          @media ( max-width: o-px-to-abs-em( 379px ) ) { flex-basis: 53% }
          & .product { @include column-flex( flex-start ); box-sizing: border-box; width: 21.8rem; padding: 2.8rem 1.8rem 1.4rem; margin-right: auto; transition: background-color nth( $a-dt, 2 ); position: relative; white-space: nowrap; overflow: hidden; cursor: pointer;
            @media ( max-width: o-px-to-abs-em( 749px ) ) { width: 19rem; white-space: normal }
            @media ( max-width: o-px-to-abs-em( 449px ) ) { padding: 0 }
            @media ( max-width: o-px-to-abs-em( 419px ) ) { width: 14.2rem }
            @media ( max-width: o-px-to-abs-em( 379px ) ) { width: 13rem }
            & .ilustration { width: 100%; height: 15rem; margin-bottom: 2.5rem;
              & img { @include img-center } }
            & .title { font: { size: 1.2rem; weight: 500 }; text-transform: uppercase; text-align: center; margin-bottom: .6rem; cursor: inherit;
              @media ( max-width: o-px-to-abs-em( 749px ) ) { font-size: 1.1rem }
              @media ( max-width: o-px-to-abs-em( 379px ) ) { font-size: 1rem } }
            & .rating { margin-bottom: .6rem;
              & li { display: inline-block;
                &:not( :last-child ) { margin-right: .3rem } } }
            & .price-container { @include column-flex( flex-start ); line-height: 1.3; margin-bottom: .6rem;
              & .former-price { font-size: 1.2rem;
                @media ( max-width: o-px-to-abs-em( 749px ) ) { font-size: 1.1rem } }
              & .current-price { @include set-font( 2.1rem, 500, nth( $c-1, 1 ) );
                @media ( max-width: o-px-to-abs-em( 749px ) ) { font-size: 1.8rem }
                @media ( max-width: o-px-to-abs-em( 419px ) ) { font-size: 1.6rem } }
              & .complement { font-size: 1.1rem } }
            & .off-sale { @include shape-triangle( 10rem, nth( $c-2, 1 ), top, x-small "shape-1.png" 3 ); position: absolute; top: -4.2rem; right: -1rem; transform: rotate( 280deg );
              @supports not ( clip-path: polygon( 0% 0% ) ) { top: 0; right: 0; transform: none }
              @supports ( clip-path: polygon( 0% 0% ) ) {
                @media ( max-width: o-px-to-abs-em( 449px ) ) { top: -4.5rem; left: 11.5rem }
                @media ( max-width: o-px-to-abs-em( 419px ) ) { left: 7rem }
                @media ( max-width: o-px-to-abs-em( 379px ) ) { left: 6rem } }
              & .message { @include set-font( 1.7rem, 500, white, uppercase ); position: absolute; left: 2.5rem; top: 6rem; transform: rotate( -280deg );
                @supports not ( clip-path: polygon( 0% 0% ) ) { transform: none; left: 5.2rem; top: 2.7rem }
                @media ( max-width: o-px-to-abs-em( 749px ) ) { font-size: 1.5rem }
                @media ( max-width: o-px-to-abs-em( 449px ) ) { font-size: 1.2rem;
                  @supports ( clip-path: polygon( 0% 0% ) ) { top: 5rem; left: 2.8rem } } } }
            & [ name$="buy-btn" ] { visibility: hidden; opacity: 0; width: 12.5rem; height: 3.2rem; border-radius: .5rem; background-color: nth( $c-1, 1 ); transition: opacity nth( $a-dt, 2 );
              @media ( max-width: o-px-to-abs-em( 1179px ) ) { visibility: visible; opacity: 1 }
              @media ( max-width: o-px-to-abs-em( 419px ) ) { width: 100%; height: 3.6rem }
              & > .content-container { @include row-flex( center ); height: 100%; width: 85%; margin: 0 auto;
                & .side-image { margin-right: .8rem }
                & .action { @include set-font( 1.4rem, 500, white, uppercase );
                  @media ( max-width: o-px-to-abs-em( 419px ) ) { font-size: 1.6rem } } } }
          &:hover { background-color: nth( $c-0, 3 ) }
          @media ( max-width: o-px-to-abs-em( 1179px ) ) {
            &:hover { background-color: transparent;
              & [ name$="buy-btn" ] { visibility: visible; opacity: 1 } } } } } }
      & .products-nav { display: none; margin: 2rem auto 1rem; text-align: center;
        @media ( max-width: o-px-to-abs-em( 1219px ) ) { display: block }
        & li { display: inline-block; @include circle-1;
          &:not( :last-child ) { margin-right: .8rem } } } } } }
