#top-header .slideshow { height: 43rem; background: { repeat: no-repeat; position: 100% 50%; size: 50% 100% };
  & .content-container { box-sizing: border-box; @include column-flex( flex-end ); @include set-grid( $grid: map-get( $grid, top ) ); height: 100%; padding-bottom: 3.7rem; position: relative;
    @include arrows-set-1;
    @include title-1 { @include pos-center( top ); left: map-get( $mar, l-default ) }
    & .slides-menu { @include row-flex( space-evenly ); width: 7.7rem;
      & li { @include shape-circle( 1rem, nth( $c-0, 2 ) ); @include change-color( null, nth( $c-2, 1 ) nth( $c-0, 2 ) nth( $a-dt, 2 ) 75% ); cursor: pointer;
        &.current { background-color: nth( $c-2, 1 ) }
        & .slideshow-content { display: none } } } } }
