// Fontes

@include ubuntu;

$f-sans-1: "Ubuntu", sans-serif;

// Cores

$c-0: ( hsl( 0, 0%, 48% ) );
$c-1: ( hsl( 174, 62%, 47% ) );

// Transições & Animações

$a-dt: ( .8s ease-out /* Home: Top Header – Search Input – Placeholder */ );

// Medidas

$top-grid: 124rem;
