// Fontes

@include ubuntu;

$f-sans-1: "Ubuntu", sans-serif;

// Cores

$c-0: ( hsl( 0, 0%, 48% ), hsl( 0, 0%, 74% ), hsl( 0, 0%, 95% ) );
$c-1: ( hsl( 174, 62%, 47% ) );
$c-2: ( hsl( 35, 100%, 55% ) );
$c-3: ( hsl( 207, 95%, 8% ) );

// Gradientes

$lg: ( "linear-gradient( 90deg, hsl( 0, 0%, 48% ), hsl( 0, 0%, 95% )", /* Lowest and highest site's gray colors */
       ( /* Top Footer – Background */
         normal: "linear-gradient( 180deg, hsl(207, 95%, 8%), hsl(207, 95%, 8%) 96%, hsl( 174, 62%, 47% ) 96.1% )",
         mobile: "linear-gradient( 180deg, hsl(207, 95%, 8%), hsl(207, 95%, 8%) 98%, hsl( 174, 62%, 47% ) 98.1% )" ) );

// Transições & Animações

$a-dt: ( .8s ease-out /* Home: Top Header – Menu – Search Input – Placeholder.fade */,
         1s ease-in-out /* Home: Top Header – Slideshow – Slides Menu – Li.colors, Featured Products – Product.bg-color && Buy Btn.fade */,
         .6s ease-out /* Home: Top Header – Slideshow – Arrows Set.movement */ );

// Medidas

$grid: ( top: 124rem, /* Home: * > Content Container */
         inner: 116rem  /* Home: Featured Products – Products */ );
$mar: ( l-default: 4rem /* Home: * > Content Container – *.margin */ );
