#top-footer { background-image: unquote( nth( $lg, 1 ) ); color: white;
  & > .content-container { @include set-grid( 2.3rem 3.6rem, $grid: map-get( $grid, top ) ); @include row-flex( $cross: flex-end );
    & .contact-info { margin-left: map-get( $mar, l-default );
      & .heading-container { margin-bottom: 1.9rem; @include trailing-stroke-1( 4.4rem .5rem, 1.5rem );
        & .title { font: { size: 2rem; weight: 700 } } }
      & .location-list { @include row-flex; width: 31.9rem;
        & .data-set {
          & abbr { border: none }
          & dt { display: block; font: { size: 1.6rem; weight: 700 }; margin-bottom: .8rem; cursor: default;
            &::after { content: "" } }
          & dd { font-size: 1.4rem;
            & .address-info {
              & > span { display: block;
                &:not( :last-child ) { margin-bottom: .8rem } } } } } } }
    & .contact-us { @include column-flex;
      @include button-1 {
        &:not( :last-child ) { margin-bottom: 2.5rem }
        & .content-container {
          & .phone { transform: translateX( .8rem );
            & img { width: auto } } } } }
    & .conceivers-info { @include row-flex; width: 13.4rem; margin-right: 2.8rem;
      & .conceiver-container {
        & .message { display: block; font-size: 1.1rem; margin-bottom: .4rem }
        & .logo {  } } } } }
